.hero{

animation:fadeIn 2s ease;

}

@keyframes fadeIn{

from{

opacity:0;

transform:translateY(40px);

}

to{

opacity:1;

transform:translateY(0);

}

}
@keyframes fogMove{

0%{

transform:translateX(-15%);

}

100%{

transform:translateX(15%);

}

}

@keyframes fogMoveReverse{

0%{

transform:translateX(15%);

}

100%{

transform:translateX(-15%);

}

}

.flash{

animation:lightningFlash .35s;
}

@keyframes lightningFlash{

0%{

opacity:0;

}

20%{

opacity:.9;

}

100%{

opacity:0;

}
}
