/* ==========================================
   VIDLYRA RAIN
========================================== */

#rain{

    position:absolute;

    inset:0;

    overflow:hidden;

    pointer-events:none;

    z-index:28;

}

.rain-drop{

    position:absolute;

    top:-120px;

    width:2px;

    border-radius:2px;

    background:linear-gradient(
        transparent,
        rgba(255,255,255,.9)
    );

    transform:rotate(18deg);

    opacity:.75;

    animation:rainFall linear infinite;

}

@keyframes rainFall{

    from{

        transform:
            translate3d(0,-100px,0)
            rotate(18deg);

    }

    to{

        transform:
            translate3d(-160px,120vh,0)
            rotate(18deg);

    }

}
