@keyframes missionGlow{

    0%{

        box-shadow:0 0 10px orange;

    }

    50%{

        box-shadow:0 0 25px #ff9900;

    }

    100%{

        box-shadow:0 0 10px orange;

    }

}

.mission-panel{

    animation:missionGlow 3s infinite;

}
